.taskView {
    display: grid; grid-template-columns: 1fr 10fr;
    margin: 0 0 20px 0 ; padding: 0 0 0 0px;
    width: 100%;
}


h1 {
    grid-column: 2;
    box-sizing: border-box;
    word-wrap: break-word;
    resize: none;

    font-size: 18pt; color: white;
    font-weight: 700; letter-spacing: .05em;
    
    background-color: #C83E4D;
    width: 100%;
    border-radius: 10px 10px 0 0; padding: 10px 15px 0 15px; margin: 0;
    margin-bottom: 0px;
}

p {
    grid-column: 2;
    box-sizing: border-box;
    word-wrap: break-word;
    resize: none;

    font-size: 12pt; color: white;
    font-weight: 300; letter-spacing: .05em;

    
    background-color: #C83E4D;
    width: 100%;
    border-radius: 0 0 10px 10px; padding: 0px 20px 15px 20px; margin: 0;
    margin-bottom: 0px;
}


.pls{
    display: grid; justify-content: right;
    grid-row-start: 1; grid-row-end: 3;
    align-items: center;
}

.removeTask {
    font-size: 8pt;
    display: flex; justify-content: center; align-items: center;
    height:25px; width: 25px; background-color: #9e2b39;
    border-radius: 20px; margin: 5px 10px;
    color: white;
}.removeTask:hover {
    background-color: rgb(33, 107, 136);
    cursor: pointer;
}

.editTask {
    font-size: 8pt;
    display: flex; justify-content: center; align-items: center;
    height:25px; width: 25px; background-color: #9e2b39;
    border-radius: 20px; margin: 5px 10px;
    color: white;
}.editTask:hover {
    background-color: rgb(33, 107, 136);
    cursor: pointer;
}